<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Machine.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Machine.Viewer.Properties.Settings>
            <setting name="BackgroundColorStart" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="BackgroundColorStop" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="LightType" serializeAs="String">
                <value>Sun</value>
            </setting>
            <setting name="View3DFlags" serializeAs="String">
                <value>{
  "EnableCurrentPosition": "False",
  "InfiniteSpin": "False",
  "IsShadowMappingEnabled": "True",
  "IsChangeFieldOfViewEnabled": "True",
  "IsInertiaEnabled": "False",
  "IsPanEnabled": "True",
  "IsRotationEnabled": "True",
  "IsTouchRotateEnabled": "True",
  "IsPinchZoomEnabled": "True",
  "PinchZoomAtCenter": "False",
  "IsThreeFingerPanningEnabled": "True",
  "IsZoomEnabled": "True",
  "Orthographic": "False",
  "RotateAroundMouseDownPoint": "True",
  "ShowCameraInfo": "False",
  "ShowCameraTarget": "True",
  "ShowCoordinateSystem": "True",
  "ShowFrameRate": "False",
  "ShowTriangleCountInfo": "False",
  "ShowViewCube": "True",
  "UseDefaultGestures": "True",
  "IsViewCubeEdgeClicksEnabled": "False",
  "IsViewCubeMoverEnabled": "True",
  "IsCoordinateSystemMoverEnabled": "True",
  "ZoomAroundMouseDownPoint": "False",
  "ZoomExtentsWhenLoaded": "False",
  "FixedRotationPointEnabled": "False",
  "EnableMouseButtonHitTest": "True",
  "EnableDeferredRendering": "False",
  "EnableSharedModelMode": "False",
  "EnableSwapChainRendering": "True",
  "ShowFrameDetails": "False",
  "EnableD2DRendering": "True",
  "EnableAutoOctreeUpdate": "False",
  "IsMoveEnabled": "True",
  "EnableOITRendering": "True",
  "EnableDesignModeRendering": "False",
  "EnableRenderOrder": "False",
  "EnableSSAO": "False",
  "AllowUpDownRotation": "True",
  "AllowLeftRightRotation": "True",
  "BelongsToParentWindow": "True",
  "EnableDpiScale": "True",
  "IsTabStop": "True",
  "OverridesDefaultStyle": "False",
  "UseLayoutRounding": "False",
  "ForceCursor": "False",
  "AllowDrop": "False",
  "ClipToBounds": "False",
  "SnapsToDevicePixels": "False",
  "IsEnabled": "True",
  "IsHitTestVisible": "True",
  "Focusable": "True",
  "IsManipulationEnabled": "False"
}</value>
            </setting>
            <setting name="View3DOptions" serializeAs="String">
                <value>{
  "CameraMode": "Inspect",
  "CameraRotationMode": "Trackball",
  "MSAA": "Disable",
  "OITWeightMode": "Linear1",
  "FXAALevel": "Medium",
  "SSAOQuality": "Low",
  "FlowDirection": "LeftToRight",
  "Visibility": "Visible"
}</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>File.JSON</value>
            </setting>
            <setting name="AutoStepOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicTransition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimespanFactor" serializeAs="String">
                <value>Factor1</value>
            </setting>
            <setting name="MaterialRemove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProbeSize" serializeAs="String">
                <value>Size5</value>
            </setting>
            <setting name="ProbeColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ProbeShape" serializeAs="String">
                <value>Sphere</value>
            </setting>
            <setting name="MinimumSampleTime" serializeAs="String">
                <value>Sample_20ms</value>
            </setting>
            <setting name="PanelOuterMaterial" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="PanelInnerMaterial" serializeAs="String">
                <value>Bronze</value>
            </setting>
            <setting name="PanelFragmentType" serializeAs="String">
                <value>Base</value>
            </setting>
            <setting name="SectionDivision" serializeAs="String">
                <value>By_5</value>
            </setting>
            <setting name="InnerPanelWireframe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OuterPanelWireframe" serializeAs="String">
                <value>False</value>
            </setting>
        </Machine.Viewer.Properties.Settings>
    </userSettings>
</configuration>